/* App-specific overrides if needed */
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* Animations included in functional components */